body {
margin: 0;
font-family: 'Raleway', sans-serif;
font-size: 14px;
color: #6c7279;
background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
   margin: 0;
}
p {
   margin: 0 0 10px;
}
*,
*:before,
*:after {
   box-sizing: border-box;
}
.container {
   width: 100%;
   max-width: 1200px;
   margin:0 auto;
   padding:0 15px;
}
/* Header
======================*/
.header {
   width: 100%;
   height: 100px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
}

.header.fixed {
   position: fixed;
   height: auto;
   background-color: #31344e;

}
.header.fixed .header__inner {
   border-bottom: 0;
   padding-top: 15px;
   padding-bottom: 15px;
}
.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 35px 0;
   border-bottom: 3px solid #515369;
}
/* Navigation
======================*/
.nav {
   display: flex;
   font-size: 13px;
   font-weight: 700;
}
.nav__link {
   margin-left: 40px;
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
   opacity: .75;
   transition: opacity .1s linear;
}
.nav__link:first-child {
   margin-left: 0;
}
.nav__link:hover {
   opacity: 1;
}
.burger {
   display: none;
   background: none;
   border: 0;
   padding: 9px 2px;
   cursor: pointer;
}
.burger__item {
   display: block;
   width: 30px;
   height: 3px;
   background-color: #fff;
   font-size: 0;
   color: transparent;
   position: relative;

}
.burger__item:before ,
.burger__item:after
 {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   z-index: 1;
   background-color: #fff;
}
.burger__item:before {
   top: -8px;
}
.burger__item:after {
   bottom: -8px;
}

/* Intro
======================*/
.intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 750px;
   padding-top: 100px;
   background: #31344e url("img/intro-bg.jpg") center no-repeat;
   background-size: cover;
}

.intro__inner {
   width: 100%;
   max-width: 970px;
   text-align: center;
   margin: 0 auto;
}
.intro__title {
   margin: 0 0 30px;
   font-family: 'Open Sans', sans-serif;
   font-size: 65px;
   line-height: 1.1;
   color: #fff;
   font-weight: 700;
   text-transform: uppercase;
}
.intro__subtitle {
   font-size: 22px;
   line-height: 1.5;
   font-weight: 400;
   color:#fff;
   margin-bottom: 60px;
}
/* Button
======================*/
.btn {
   display: inline-block;
   vertical-align: top;
   padding: 14px 40px;
   border: 0;
   cursor: pointer;
   font-family: inherit;
   font-size: 13px;
   color: #fff;
   font-weight: 600;
   text-decoration: none;
   text-transform: uppercase;
   transition: .2s linear;
   text-align: center;
}
.btn--red {

   background-color: #e84545;
   border-radius: 3px;
}
.btn--red:hover {
   background-color: #dd3434;
}
.btn--long {
   min-width: 280px;

}
/* Features
======================*/
.features {
   display: flex;
   margin: 100px 0;
   flex-wrap: wrap;
}
.features__item {
   padding: 0 40px ;
   margin: 25px 0;
   width: 33.33333%;
   text-align: center;
}
.features__icon {
   margin-bottom: 25px;
}
.features__title {
   font-style: 14px;
   font-weight: 700;
   color: #2d3033;
   text-transform: uppercase;
   margin-bottom: 20px;
}
.features__text {
   font-style: 14px;
   font-weight: 300;
   line-height: 1.5;
   color: #6c7279;
}
/* Works
======================*/
.works {
   display: flex;
   flex-wrap: wrap;
}
.works__item {
   border-bottom: 1px solid #fff;
   border-right: 1px solid #fff;
   width: 25%;
   position: relative;
   overflow: hidden;
   height: 350px;
}
.works__item:hover .works__content {
   opacity: 100%;
   transition: .4s linear;
}

.works__img {
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 1;
   transform: translate3d(-50%, -50%, 0);
}
.works__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   color: #fff;
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: rgba(232, 69, 69, .9);
   opacity: 0;
   top: 0;
   left: 0;
   z-index: 2;
}
.works__title {
   margin-bottom: 5px;
   font-size: 14px;
   font-weight: 700px;
   text-transform: uppercase;
}
.works__text {
   font-size: 14px;
}
/* Our Team
======================*/
.team {
   margin: 100px 0 70px;
}
.team__inner {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;
}
.team__item {
   margin-bottom: 30px;
   width: 25%;
   padding: 0 15px;
}
.team__photo {
   display: block;
   max-width: 100%;
   height: auto;
   margin-bottom: 20px;
}
.team__name {
   font-size: 22px;
   color: #2d3033;
   margin-bottom: 8px;
}
.team__prof {
   margin-bottom: 15px;
   color: #e84545;
   font-size: 13px;
   text-transform: uppercase;
}
.team__txt {
   font-size: 14px;
   color: #6c7279;
   line-height: 1.5;
}
/* Testimonials
======================*/
.testimonials {
   overflow: hidden;
   background-color: #53354a;
}
.rewiewsSlider {
   height: 500px;
   overflow: hidden;
}
.rewiews__item{
   display: flex;
   flex-wrap: wrap;
   overflow:hidden ;
}
.rewiews__photo {
   position: relative;
   width: 50%;
   height: 500px;
}
.rewiews__img {
   position: absolute;
   top: 50%;
   right: 0;
   z-index: 1;
   transform: translateY(-50%) ;
}
.rewiews__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 50%;
   padding: 80px 30px;
}
.rewiews__txt {
   margin-bottom: 20px;
   font-family: 'Cardo', serif;
   font-size: 36px;
   font-style: italic;
   line-height: 1.3;
   color: #fff;

}
.rewiews__author {
   font-size: 13px;
   font-weight: 700;
   text-transform: uppercase;
   color: #fff;
}
.slick-dots {
   margin: 0;
   padding: 0;
   list-style: none;
   width: 50%;
   position: absolute;
   bottom:  0;
   right: 0;
   z-index: 2;

}
/* Download
======================*/
.download {
   margin: 90px 0;
   text-align: center;
}
.download__title {
   font-size: 28px;
   font-weight: 300px;
   margin-bottom: 10px;
}
.download__txt {
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 30px;
}
/* Footer
======================*/
.footer {

   background-color: #3a3e64;
}
.footer__inner {
   padding: 70px 0;
   display: flex;
   flex-wrap: wrap;
}
.footer__block {
   width: 33.33333%;
   padding: 0 15px;
   text-align: center;
}
.footer__title {
   margin-bottom: 10px;
   font-style: 14px;
   font-weight: 7000;
   color: #fff;

}
.footer__address {
   font-size: 14px;
   line-height: 1.5;
   font-style: normal;
   color: rgba(255, 255, 255, 0.5);
}
.footer__txt {
   font-size: 14px;
   line-height: 1.5;
   color: rgba(255, 255, 255, 0.5)
}
.footer__copyright {
   background-color: #313454;
   padding: 20px 0;
}
.copyright__txt {
   text-align: center;
   font-style: 14px;
   color: #808080;
   line-height: 1.5;
}
.copyright__txt span {
   color: #fff;
}